/*fonts*/
/*@import url('https://fonts.googleapis.com/css?family=fontname:400,600,700');*/
 
@font-face {
    font-family: 'Adihaus DIN';
    src: url('../fonts/fonts-adidas/AdihausDIN-MediumItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
 
@font-face {
    font-family: 'Adihaus DIN';
    src: url('../fonts/fonts-adidas/AdihausDIN-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*/fonts*/



/*native vars*/
 
:root {

    --runners-ins--container-width-xxl: 1280px;
    --runners-ins--container-width-xl: 1140px;
    --runners-ins--container-width-l: 960px;
    --runners-ins--container-width-m: 720px;
    --runners-ins--container-width-s: 540px;
    --runners-ins--container-width-xs: 96%;

    --runners-ins--container-width2-xxl: 1025px;
    --runners-ins--container-width2-xl: 930px;
    --runners-ins--container-width2-l: 780px;
    --runners-ins--container-width2-m: 600px;
    --runners-ins--container-width2-s: 460px;
    --runners-ins--container-width2-xs: 92%;

    --runners-ins--container-width3-xxl: 980px;
    --runners-ins--container-width3-xl: 880px;
    --runners-ins--container-width3-l: 740px;
    --runners-ins--container-width3-m: 560px;
    --runners-ins--container-width3-s: 420px;
    --runners-ins--container-width3-xs: 88%;

    --runners-ins--container-width4-xxl: 840px;
    --runners-ins--container-width4-xl: 840px;
    --runners-ins--container-width4-l: 740px;
    --runners-ins--container-width4-m: 560px;
    --runners-ins--container-width4-s: 420px;
    --runners-ins--container-width4-xs: 84%;

    --runners-ins--font-family-1: 1;
    --runners-ins--font-family-2: 2;
 
    --runners-ins--font-size-heading-1: 1;
    --runners-ins--font-size-heading-2: 2;
    --runners-ins--font-size-heading-3: 3;
    --runners-ins--font-size-heading-4: 4;
 
    --runners-ins--font-size-paragraph-1: 1;
    --runners-ins--font-size-paragraph-2: 2;
    --runners-ins--font-size-paragraph-3: 3;
    --runners-ins--font-size-paragraph-4: 4;

    --runners-ins--font-weight-1: 1;
    --runners-ins--font-weight-2: 2;
    --runners-ins--font-weight-3: 3;
 
    --runners-ins--color-grayscale-f: #fff;
    --runners-ins--color-grayscale-0: #000;
    --runners-ins--color-grayscale-1: #231f20;
    --runners-ins--color-grayscale-2: #303030;
    --runners-ins--color-grayscale-3: 3;
    --runners-ins--color-grayscale-4: 4;

    --runners-ins--color-main-1: #eae318;
    --runners-ins--color-main-2: #f6f952;

    --runners-ins--color-extra-1: #cb9820;
    --runners-ins--color-extra-2: 2;
    --runners-ins--color-extra-3: 3;
    --runners-ins--color-extra-4: 4;
 
    --runners-ins--ease-in:cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --runners-ins--ease-out:cubic-bezier(0.215, 0.61, 0.355, 1);
    --runners-ins--ease-in-out:cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*/native vars*/



/* breakpoint cheat sheet:
breakpoint-xxl: 1519px;
breakpoint-xl: 1199px;
breakpoint-l: 991px;
breakpoint-m: 767px;
breakpoint-s: 575px;
*/

.text-visible-xl,
.text-visible-l,
.text-visible-m,
.text-visible-s,
.text-visible-xs{
    display:none;
}

.text-hidden-xl,
.text-hidden-l,
.text-hidden-m,
.text-hidden-s,
.text-hidden-xs{
    display:inline;
}

.text-visible-xxl{
    display:inline;
}

.text-hidden-xxl{
    display:none;
}



/*var media queries*/
@media screen and (max-width:1519px){
 
    :root {
    }

    .text-visible-xxl{
        display:none;
    }

    .text-hidden-xxl{
        display:visible;
    }

    .text-visible-xl{
        display:inline;
    }

    .text-hidden-xl,
    .hidden-xl{
        display:none;
    }

}

@media screen and (max-width:1199px){
 
    :root {
    }

    .text-visible-l{
        display:inline;
    }

    .text-hidden-l,
    .hidden-l{
        display:none;
    }

}

@media screen and (max-width:991px){
 
    :root {
    }

    .text-visible-m{
        display:inline;
    }

    .text-hidden-m,
    .hidden-m{
        display:none;
    }

}

@media screen and (max-width:767px){
 
    :root {
    }

    .text-visible-s{
        display:inline;
    }

    .text-hidden-s,
    .hidden-s{
        display:none;
    }

}

@media screen and (max-width:575px){
 
    :root {
    }

    .text-visible-xs{
        display:inline;
    }

    .text-hidden-xs,
    .hidden-xs{
        display:none;
    }

}
/*/var media queries*/
 


/*------------------------------------------------------------------------------------------------------------*/
 


/*reset*/
#runners-ins--wrapper div,#runners-ins--wrapper article,#runners-ins--wrapper section,#runners-ins--wrapper header,#runners-ins--wrapper footer,#runners-ins--wrapper nav,#runners-ins--wrapper h1,#runners-ins--wrapper h1,#runners-ins--wrapper h3,#runners-ins--wrapper h4,#runners-ins--wrapper h5,#runners-ins--wrapper h6,#runners-ins--wrapper p,#runners-ins--wrapper a,#runners-ins--wrapper span,#runners-ins--wrapper ul,#runners-ins--wrapper ol,#runners-ins--wrapper li,#runners-ins--wrapper table,#runners-ins--wrapper tr,#runners-ins--wrapper th,#runners-ins--wrapper td,#runners-ins--wrapper img,#runners-ins--wrapper figure,#runners-ins--wrapper figcaption,#runners-ins--wrapper form,#runners-ins--wrapper fieldset{margin:0;padding:0}#runners-ins--wrapper fieldset,#runners-ins--wrapper a,#runners-ins--wrapper img{border:0}#runners-ins--wrapper header,#runners-ins--wrapper footer,#runners-ins--wrapper section,#runners-ins--wrapper article,#runners-ins--wrapper nav,#runners-ins--wrapper figure,#runners-ins--wrapper figcaption{display:block}#runners-ins--wrapper *:focus{outline:0}#runners-ins--wrapper img,#runners-ins--wrapper a,#runners-ins--wrapper :focus{outline:0;text-decoration:none}::-moz-focus-inner{border:0}#runners-ins--wrapper p{text-align:left}#runners-ins--wrapper ul,#runners-ins--wrapper ul li{list-style:none;}
/*/reset*/
 


/*global*/
html,body{
    display:block;
    padding:0;
    margin:0;
    font-family: "Adihaus DIN", Arial;
}
#runners-ins--wrapper img{
    max-width:100%;
}
/*px to em*/
html{font-size:23px}
body{font-size:62.5%}
/*1em = 10px */

::selection{color:var(--runners-ins--color-grayscale-1);background-color:var(--runners-ins--color-main-2)}
/*/global*/



/*external structure*/
    #runners-ins--wrapper{
        position:relative;
        overflow-x: hidden;
    }



        /*container width*/
        #runners-ins--wrapper .runners-ins--container-width{
            width:var(--runners-ins--container-width-xxl);
            margin-left:auto;
            margin-right:auto;
        }
        
        #runners-ins--wrapper .runners-ins--container-width2{
            width:var(--runners-ins--container-width2-xxl);
            margin-left:auto;
            margin-right:auto;
        }
        
        #runners-ins--wrapper .runners-ins--container-width3{
            width:var(--runners-ins--container-width3-xxl);
            margin-left:auto;
            margin-right:auto;
        }
        
        #runners-ins--wrapper .runners-ins--container-width4{
            width:var(--runners-ins--container-width4-xxl);
            margin-left:auto;
            margin-right:auto;
        }



        /*spacer*/
        #runners-ins--wrapper .runners-ins--spacer{
            position:relative;
            width:100%;
            height:0;
        }



        /*menu*/
        #runners-ins--wrapper .runners-ins--anchor{
            position:absolute;
            top:-4em;
            left:0;
            width:0;
            height:0;
            z-index:-2;
        }

            #runners-ins--wrapper .runners-ins--anchor#prova-detalhes{
                top:-8em;
            }

        #runners-ins--wrapper .runners-ins--menu{
            position:fixed;
            width:100%;
            height:auto;
            top:11em;
            left:0;
            transition:.4s var(--runners-ins--ease-out);
            padding-top:5em;
            display:flex;
            align-items:center;
            justify-content:center;
            z-index:10;
        }

            #runners-ins--wrapper .runners-ins--menu.fixed{
                top:0;
                padding-top:1em;
                background:rgba(0,0,0,.93)
            }

            #runners-ins--wrapper .runners-ins--menu .runners-ins--list{
                display:flex;
                align-items:stretch;
                justify-content:center;
                flex-wrap: wrap;
            }

                #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item{
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    text-align:center;
                }

                    #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a{
                        position:relative;
                        display:inline-flex;
                        align-items:center;
                        justify-content:center;
                        padding:0 .6em;
                        height:3em;
                        text-transform:uppercase;
                        font-size:1.1em;
                        color:var(--runners-ins--color-main-1);
                        text-decoration:none;
                        transition:.2s var(--runners-ins--ease-out);
                    }

                        #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a:hover,
                        #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a.breadcrumb{
                            color:var(--runners-ins--color-grayscale-f);
                        }

                        #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a::after{
                            content:"";
                            position:absolute;
                            bottom:0;
                            left:auto;
                            right:0;
                            width:0;
                            height:0;
                            border-top:2px solid var(--runners-ins--color-grayscale-f);
                            transition:.2s var(--runners-ins--ease-out);
                        }

                        #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a:hover::after,
                        #runners-ins--wrapper .runners-ins--menu .runners-ins--list .runners-ins--item a.breadcrumb::after{
                            width:100%;
                            left:0;
                            right:auto;
                        }




        /*section*/
        #runners-ins--wrapper .runners-ins--section{
            position:relative;
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
        }



            /*article*/
            #runners-ins--wrapper .runners-ins--section .runners-ins--article{
                position:relative;
                width:100%;
                display:flex;
                align-items:center;
                justify-content:center;
                z-index: 1;
            }



            /*home*/
            #runners-ins--wrapper .runners-ins--section.parallax-home{
                /*padding:110px 0;*/
                padding:11em 0;
                box-sizing:border-box;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--home-container{
                position:relative;
                background:var(--runners-ins--color-grayscale-0);
                color:var(--runners-ins--color-grayscale-f);
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--home-container .runners-ins--home{
                    position:relative;
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:74.5em; */
                }



            /*prova*/
            #runners-ins--wrapper .runners-ins--section.parallax-prova{
                /* padding:200px 0 160px; */
                padding:0 0 16em;
                box-sizing:border-box;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-prova .runners-ins--prova-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-prova .runners-ins--prova-container .runners-ins--prova{
                    position:relative;
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:74.5em; */
                    background:var(--runners-ins--color-grayscale-0);
                    color:var(--runners-ins--color-grayscale-f);
                    border-top-right-radius:2.5em;
                    border-bottom-right-radius:2.5em;
                    /* padding:80px 132px 80px 45px; */
                    padding:8em 13.2em 8em 4.5em;
                    box-sizing:border-box;
                }

            /*premiacao*/
            #runners-ins--wrapper .runners-ins--section.parallax-premiacao{
                /* padding-top:200px; */
                /* padding-top:20em; */
                box-sizing:border-box;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-premiacao .runners-ins--premiacao-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-premiacao .runners-ins--premiacao-container .runners-ins--premiacao{
                    position:relative;
                    max-width:var(--runners-ins--container-width-xs);
                    /*height:100%;*/
                    /*min-height:240px;*/
                    min-height:19em;
                    background:var(--runners-ins--color-main-2);
                    color:var(--runners-ins--color-grayscale-0);
                    box-sizing:border-box;
                }



            /*kit*/
            #runners-ins--wrapper .runners-ins--section.parallax-kit{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                padding:3em 0 10em;
                box-sizing:border-box;
                /* min-height:100vh; */
            }

            #runners-ins--wrapper .runners-ins--section.parallax-kit .runners-ins--kit-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-kit .runners-ins--kit-container .runners-ins--kit{
                    position:relative;
                    /* background:var(--runners-ins--color-main-2); */
                    color:var(--runners-ins--color-grayscale-0);
                    border-top-right-radius:30em;
                    border-bottom-right-radius:30em;
                    /* max-width:var(--runners-ins--container-width-xs); */
                    height:100%;
                    /* min-height:35em; */
                }



            /*percurso*/
            #runners-ins--wrapper .runners-ins--section.parallax-percurso{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                background:var(--runners-ins--color-main-2);
                color:var(--runners-ins--color-grayscale-0);
                overflow:hidden;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--percurso-container{
                position:relative;
                width:100%;
                height:100%;
                background-color:var(--runners-ins--color-main-2);
            }

                #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--percurso-container .runners-ins--percurso{
                    position:relative;
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:43.5em; */
                }



            /*runners*/
            #runners-ins--wrapper .runners-ins--section.parallax-parceiros{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                background:var(--runners-ins--color-grayscale-0);
            }

            #runners-ins--wrapper .runners-ins--section.parallax-parceiros .runners-ins--runners-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-parceiros .runners-ins--runners-container .runners-ins--runners{
                    position:relative;
                    color:var(--runners-ins--color-grayscale-f);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:40em; */
                }



            /*atracoes*/
            #runners-ins--wrapper .runners-ins--section.parallax-atracoes{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                padding:0 0 8em;
                box-sizing:border-box;
                overflow:hidden;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--atracoes-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--atracoes-container .runners-ins--atracoes{
                    position:relative;
                    background:var(--runners-ins--color-grayscale-0);
                    color:var(--runners-ins--color-grayscale-f);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:23.5em; */
                }



            /*duvidas*/
            #runners-ins--wrapper .runners-ins--section.parallax-duvidas{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                padding-bottom: 10em;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-duvidas .runners-ins--duvidas-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-duvidas .runners-ins--duvidas-container .runners-ins--duvidas{
                    position:relative;
                    background:var(--runners-ins--color-main-2);
                    color:var(--runners-ins--color-grayscale-0);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:75.5em; */
                }



            /*runners*/
            #runners-ins--wrapper .runners-ins--section.parallax-runners{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                background:var(--runners-ins--color-grayscale-0);
            }

            #runners-ins--wrapper .runners-ins--section.parallax-runners .runners-ins--runners-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-runners .runners-ins--runners-container .runners-ins--runners{
                    position:relative;
                    color:var(--runners-ins--color-grayscale-f);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                    /* min-height:40em; */
                }



            /*fotos*/
            #runners-ins--wrapper .runners-ins--section.parallax-fotos{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                overflow:hidden;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos{
                    position:relative;
                    /*background:var(--runners-ins--color-grayscale-0);
                    color:var(--runners-ins--color-grayscale-f);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                     min-height:19em; */
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button{
                    position:absolute;
                    top:50%;
                    transform:translateY(-50%);
                    font-size:0;
                    line-height:0;
                    text-indent:-9999px;
                    display:none;
                    z-index:1;
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button:before{
                    content:'';
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    font-size:60px;
                    font-style:normal;
                    cursor:pointer;
                    line-height:1;
                    text-indent:0px;
                    color:var(--runners-ins--color-main-1);
                    width:60px;
                    height:60px;
                    padding:2px;
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button.previous{
                    right:calc(100% + 20px);
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button.next{
                    left:calc(100% + 20px);
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button.previous:before,
                .lg-actions .lg-prev:after{
                    content:'\2770'!important;
                    text-shadow:0 0 35px rgba(0, 0, 0, 0.9);
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--fotos .paginate_button.next:before,
                .lg-actions .lg-next:before{
                    content:'\2771'!important;
                    text-shadow:0 0 35px rgba(0, 0, 0, 0.9);
                }

                
                .lg-actions .lg-prev,
                .lg-actions .lg-next{
                    font-size:60px!important;
                    color:var(--runners-ins--color-main-1) !important;
                    line-height:0px!important;
                    background:transparent!important;
                    border-radius:0px!important;
                    text-shadow:0 0 35px rgba(0, 0, 0, 0.9);
                }

                .lg-toolbar .lg-icon,
                #lg-counter
                {
                    font-size:33px!important;
                    color:var(--runners-ins--color-main-1) !important;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados{
                    position:relative;
                    padding:3em 0 6em !important;
                    align-items:flex-start;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table{
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 100%;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table thead,
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tbody{
                    width: 100%;
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    flex-direction:column;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr{
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    width: 100%;
                    background:transparent !important;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th,
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align:center;
                    background: var(--runners-ins--color-grayscale-0);
                    color:var(--runners-ins--color-grayscale-f);
                    font-size:30px;
                    font-weight:300;
                    font-style:italic;
                    text-transform:uppercase;
                    font-family:var(--runners-ins--font-family-1);
                    letter-spacing:-.02em;
                    padding:20px 12px;
                    box-sizing:border-box;
                    text-align:center;
                    min-height:60px;
                    line-height:1.1;
                    white-space:normal;
                    word-break:break-all;
                    border:none !important;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th{
                    align-items: center;
                    position:relative;
                    color:var(--runners-ins--color-main-1);
                    min-height:80px;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td{
                    font-size:24px;
                    min-height:36px;
                    padding:12px;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th:after{
                    font-size: 16px;
                    margin-left:10px;
                    margin-right: -25px;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th[aria-sort="ascending"]:after{
                    content:'\25BC';
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th[aria-sort="descending"]:after{
                    content:'\25B2';
                }
                

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td:nth-child(1),
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th:nth-child(1){
                    width: calc(20% - 25px) !important;
                    margin-right:25px;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td:nth-child(2),
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th:nth-child(2){
                    width: calc(15% - 25px) !important;
                    margin-right:25px;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td:nth-child(3),
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th:nth-child(3){
                    width: calc(50% - 25px) !important;
                    margin-right:25px;
                    padding-left:20px;
                    padding-right:20px;
                    word-break: keep-all;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td:nth-child(4),
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr th:nth-child(4){
                    width: 15% !important;
                }

                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr:last-child td{
                    min-height:100px;
                }


                /**/
                .dataTables_wrapper{
                    width:100%;
                }
                .dataTables_length{
                    display:none;
                }
                .dataTables_info{
                    position:absolute;
                    bottom:calc(100% - 100px);
                    left:0;
                    text-align: center;
                }
                .dataTables_info,
                .dataTables_filter{
                    width: 100%;
                    min-height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color:var(--runners-ins--color-main-2) !important;
                    text-transform: uppercase;
                    letter-spacing: .04em;
                    font-size: 18px;
                    line-height: 1.1;
                }
                .dataTables_filter label{
                    position:relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50% !important;
                    font-size: 0;
                    line-height: 0;
                    text-indent: -9999px;
                    margin-top:-120px;
                }
                .dataTables_filter input[type=search]{
                    display:inline-block;
                    width:100%;
                    height:48px;
                    font-size:18px;
                    line-height:1;
                    text-transform:uppercase;
                    padding-left:40px;
                    font-family:var(--runners-ins--font-family-1);
                    border:none;
                    margin-left:0;
                }
                .dataTables_filter label:before{
                    position:absolute;
                    z-index:1;
                    top:0;
                    left:0;
                    width:50px;
                    height:100%;
                    content:'';
                    background:url('../images/icons/icon-search.png') no-repeat center;
                }
                #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--resultados table tr td.dataTables_empty{
                    width:100% !important;
                }

                .paginate_button{
                    position:absolute;
                    top:40px;
                    font-size:0;
                    line-height:0;
                    text-indent:-9999px;
                    cursor:pointer;
                }
                .paginate_button:before{
                    content:'';
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    font-size:60px;
                    line-height:1;
                    text-indent:0px;
                    color:var(--runners-ins--color-main-1);
                    width:60px;
                    height:60px;
                    padding:2px;
                }
                .paginate_button.previous{
                    left:0;
                }
                .paginate_button.next{
                    right:0;
                }
                .paginate_button.previous:before{
                    content:'\2770';
                }
                .paginate_button.next:before{
                    content:'\2771';
                }
                .paginate_button.disabled{
                    cursor:default;
                }
                .paginate_button.disabled:before{
                    -webkit-filter: grayscale(100%) contrast(10%);
                    filter: grayscale(100%) contrast(10%);
                    opacity:.6;
                }
                .paginate_button:hover{
                    background:none !important;
                }



            /*cadastro*/
            #runners-ins--wrapper .runners-ins--section.parallax-cadastro{
                /* padding:200px 0 160px; */
                /* padding:20em 0 16em; */
                box-sizing:border-box;
                overflow:hidden;
                padding-bottom: 10em;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-cadastro .runners-ins--cadastro-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-cadastro .runners-ins--cadastro-container .runners-ins--cadastro{
                    position:relative;
                    background:var(--runners-ins--color-grayscale-0);
                    color:var(--runners-ins--color-grayscale-f);
                    max-width:var(--runners-ins--container-width-xs);
                    height:100%;
                }



            /*sobre*/
            #runners-ins--wrapper .runners-ins--section.parallax-sobre{
                /* padding:300px 0 375px; */
                padding:30em 0 35em;
                box-sizing:border-box;
                overflow:hidden;
            }

            #runners-ins--wrapper .runners-ins--section.parallax-sobre .runners-ins--sobre-container{
                position:relative;
                width:100%;
                height:100%;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-sobre .runners-ins--sobre-container .runners-ins--sobre{
                    position:relative;
                    background:var(--runners-ins--color-main-2);
                    color:var(--runners-ins--color-grayscale-0);
                    max-width:var(--runners-ins--container-width-xs);
                    /* height:100%; */
                    /*min-height:48em;*/
                }
/*/external structure*/



/*parallax bg*/
#runners-ins--wrapper .runners-ins--parallax{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

    #runners-ins--wrapper .runners-ins--parallax .runners-ins--parallax-bg{
        background-position:center center;
        background-repeat:no-repeat;
        background-size:auto;
    }


        /*home bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--parallax{ 
            background:var(--runners-ins--color-grayscale-f);
        }

        #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--parallax .runners-ins--parallax-bg:nth-child(1){
            background-image:url(../images/parallax-bg-pattern-1a.png);
            background-repeat:repeat;
        }

        #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--parallax .runners-ins--parallax-bg:nth-child(2){
            background-image:url(../images/parallax-bg-pattern-1b.png);
            background-repeat:repeat;
        }



        /*prova bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-prova .runners-ins--parallax .runners-ins--parallax-bg{
            background-image:url(../images/parallax-bg-filter-1.jpg);
        }



        /*premiacao bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-premiacao .runners-ins--parallax .runners-ins--parallax-bg{
            background-image:url(../images/parallax-bg-photo-1.jpg);
        }



        /*kit bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-kit .runners-ins--parallax{ 
            background:var(--runners-ins--color-grayscale-f);
        }

        #runners-ins--wrapper .runners-ins--section.parallax-kit .runners-ins--parallax .runners-ins--parallax-bg:nth-child(1){
            background-image:url(../images/parallax-bg-pattern-1a.png);
            background-repeat:repeat;
        }

        #runners-ins--wrapper .runners-ins--section.parallax-kit .runners-ins--parallax .runners-ins--parallax-bg:nth-child(2){
            background-image:url(../images/parallax-bg-pattern-1b.png);
            background-repeat:repeat;
        }



        /*atracoes bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax{ 
            background:var(--runners-ins--color-grayscale-0);
        }

        #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax .runners-ins--parallax-bg:nth-child(1){
            background-image:url(../images/parallax-bg-pattern-2a.png);
            background-repeat:repeat;
        }

        #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax .runners-ins--parallax-bg:nth-child(2){
            background-image:url(../images/parallax-bg-pattern-2b.png);
            background-repeat:repeat;
        }


        /*duvidas bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-duvidas .runners-ins--parallax{ 
            background:var(--runners-ins--color-grayscale-f);
        }

        #runners-ins--wrapper .runners-ins--section.parallax-duvidas .runners-ins--parallax .runners-ins--parallax-bg:nth-child(1){
            background-image:url(../images/parallax-bg-pattern-1a.png);
            background-repeat:repeat;
        }

        #runners-ins--wrapper .runners-ins--section.parallax-duvidas .runners-ins--parallax .runners-ins--parallax-bg:nth-child(2){
            background-image:url(../images/parallax-bg-pattern-1b.png);
            background-repeat:repeat;
        }



        /*fotos bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--parallax{ 
            background:var(--runners-ins--color-grayscale-0);
        }

        #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--parallax .runners-ins--parallax-bg:nth-child(1){
            background-image:url(../images/parallax-bg-pattern-2a.png);
            background-repeat:repeat;
        }

        #runners-ins--wrapper .runners-ins--section.parallax-fotos .runners-ins--parallax .runners-ins--parallax-bg:nth-child(2){
            background-image:url(../images/parallax-bg-pattern-2b.png);
            background-repeat:repeat;
        }



        /*cadastro bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-cadastro .runners-ins--parallax .runners-ins--parallax-bg{
            background-image:url(../images/parallax-bg-filter-2.jpg);
        }



        /*sobre bg*/
        #runners-ins--wrapper .runners-ins--section.parallax-sobre .runners-ins--parallax .runners-ins--parallax-bg{
            background-image:url(../images/parallax-bg-photo-2.jpg);
        }
 /*/parallax bg*/



/*parallax decor*/
#runners-ins--wrapper .runners-ins--parallax-decor{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

    #runners-ins--wrapper .runners-ins--parallax-decor .runners-ins--parallax-decor-item{
        position:absolute;
        width:auto;
        height:auto;
        -webkit-user-select: none;  
        -moz-user-select: none;    
        -ms-user-select: none;      
        user-select: none;
    }



        /*home decor*/
        #runners-ins--wrapper 
        .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:260px;
            top:-65px;
            left:-150px;*/
            width:26em;
            top:-6.5em;
            left:-15em;
        }

            #runners-ins--wrapper 
            .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -4s infinite;
            }

                #runners-ins--wrapper 
                .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) path{
                    fill:var(--runners-ins--color-main-2);
                }

        #runners-ins--wrapper 
        .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2){
            /*width:260px;
            bottom:-50px;
            right:-250px;*/
            width:26em;
            bottom:-5em;
            right:-25em;
        }
        
            #runners-ins--wrapper 
            .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -2s infinite;
            }

                #runners-ins--wrapper 
                .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) path{
                    fill:var(--runners-ins--color-main-2);
                }

        #runners-ins--wrapper 
        .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(3){
            /*width:455px;
            right:-375px;*/
            width:45.5em;
            top:2em;
            right:-37.5em;
            overflow:hidden;
            mix-blend-mode:screen;
        }

            #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(3) img{
            /*top:-25px;*/
            position:relative;
            top:-2.5em;
            animation:wiggleX 8s var(--runners-ins--ease-in-out) -4s infinite;
        }

        #runners-ins--wrapper 
        .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(4){
            /*width:570px;
            left:-255px;*/
            width:57em;
            bottom:0;
            left:-25.5em;
            overflow:hidden;
            mix-blend-mode:screen;
            filter:brightness(115%);
        }

            #runners-ins--wrapper .runners-ins--section.parallax-home .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(4) img{
            /*bottom:-20px;*/
            position:relative;
            bottom:-2em;
            animation:wiggleX 8s var(--runners-ins--ease-in-out) -2s infinite;
        }



        /*prova decor*/
        #runners-ins--wrapper .runners-ins--section.parallax-prova .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:325px;
            bottom:30px;
            right:-170px;*/
            width:32.5em;
            bottom:3em;
            right:-17em;
            mix-blend-mode:screen;
            filter:brightness(115%);
        }

            #runners-ins--wrapper .runners-ins--section.parallax-prova .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) img{
                position:relative;
                animation:wiggleX 8s var(--runners-ins--ease-in-out) -6s infinite;
            }



        /*premiacao decor*/
        #runners-ins--wrapper 
        .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:200px;
            top:-110px;
            left:-65px;*/
            width:20em;
            top:-9em;
            left:-5em;
        }

            #runners-ins--wrapper 
            .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -4s infinite;
            }

                #runners-ins--wrapper 
                .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) path{
                    fill:var(--runners-ins--color-grayscale-0);
                }

        #runners-ins--wrapper 
        .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2){
            /*width:200px;
            bottom:-65px;
            right:-110px;*/
            width:20em;
            bottom:-5.5em;
            right:-10em;
        }
        
            #runners-ins--wrapper .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -2s infinite;
            }

                #runners-ins--wrapper 
                .runners-ins--section.parallax-premiacao .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) path{
                    fill:var(--runners-ins--color-grayscale-0);
                }



        /*percurso decor*/
        #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:550px;
            top:-300px;
            left:-400px;*/
            width:55em;
            top:-27em;
            left:-35em;
            transform:rotate(180deg);
        }

            #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -4s infinite;
            }

                #runners-ins--wrapper 
                .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) path{
                    fill:var(--runners-ins--color-grayscale-0);
                }

        #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2){
            /*width:550px;
            bottom:-300px;
            right:-400px;*/
            width:55em;
            bottom:-27em;
            right:-35em;
        }
        
            #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) svg{
                position:relative;
                animation:bolt 5s var(--runners-ins--ease-in-out) -2s infinite;
            }

                #runners-ins--wrapper .runners-ins--section.parallax-percurso .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) path{
                    fill:var(--runners-ins--color-grayscale-0);
                }



        /*atracoes decor*/
        #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:325px;
            bottom:-40px;
            left:-250px;*/
            width:32.5em;
            bottom:-40em;
            left:-25em;
            mix-blend-mode:screen;
            filter:brightness(115%);
        }

            #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) img{
                position:relative;
                animation:wiggleX 8s var(--runners-ins--ease-in-out) -6s infinite;
                transform:scaleX(-1);
            }

        #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2){
            /*width:325px;
            top:-115px;
            right:-180px;*/
            width:32.5em;
            top:-11.5em;
            right:-18em;
            mix-blend-mode:screen;
        }

            #runners-ins--wrapper .runners-ins--section.parallax-atracoes .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(2) img{
                position:relative;
                animation:wiggleX 8s var(--runners-ins--ease-in-out) -1s infinite;
            }



        /*cadastro decor*/
        #runners-ins--wrapper .runners-ins--section.parallax-cadastro .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1){
            /*width:325px;
            bottom:-80px;
            left:-230px;*/
            width:32.5em;
            bottom:-8em;
            left:-23em;
            mix-blend-mode:screen;
        }

            #runners-ins--wrapper .runners-ins--section.parallax-cadastro .runners-ins--parallax-decor .runners-ins--parallax-decor-item:nth-child(1) img{
                position:relative;
                animation:wiggleX 8s var(--runners-ins--ease-in-out) 0s infinite;
            }
/*/parallax decor*/



/*parallax global styles*/
    .parallaxContainer{
        display:block;
    }

        .parallaxParent{
            overflow:hidden;
        }

            .parallaxParent > .parallaxChild{
                display:flex;
                align-items:center;
                justify-content:center;
                min-height:150%;
                position:relative;
                top:-75%;
            }

            /* .parallaxParent > .parallaxChild img{
                max-width:none !important;
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
            } */


            .parallaxParent.parallaxPattern > .parallaxChild{
                height:400%;
            }

                .parallaxParent.parallaxPattern > .parallaxChild:nth-child(1){
                    top:-99.1%;
                }

                .parallaxParent.parallaxPattern > .parallaxChild:nth-child(2){
                    top:-400%;
                }

            .parallaxParent.parallaxLong > .parallaxChild{
                top:-42.5%;
            }


                /* .parallaxParent.parallaxLong > .parallaxChild img{
                    top:auto;
                    bottom:0;
                    transform:translateX(-50%);
                } */

        .parallaxDecor{
            display:block;
            width:auto;
            height:auto;
            position:absolute;
        }
/*/parallax global styles*/


/*animations*/
@keyframes wiggleX{
    0%{left:-1%}
    50%{left:1%}
    100%{left:-1%}
}

@keyframes bolt{
    0%{
        transform:translate(0,0);
    }
    15%{
        transform:translate(-15%,10%);
    }
    17%{
        transform:translate(-15%,10%);
    }
    20%{
        transform:translate(50%,-40%);
        filter:brightness(100%);
    }
    21%{
        transform:translate(47%,-38%);
        filter:brightness(115%);
    }
    22%{
        transform:translate(52%,-42%);
        filter:brightness(95%);
    }
    23%{
        transform:translate(47%,-40%);
        filter:brightness(110%);
    }
    24%{
        transform:translate(50%,-38%);
        filter:brightness(95%);
    }
    25%{
        transform:translate(47%,-42%);
        filter:brightness(115%);
    }   
    26%{
        transform:translate(52%,-40%);
        filter:brightness(95%);
    }
    27%{
        transform:translate(47%,-38%);
        filter:brightness(105%);
    }
    28%{
        transform:translate(50%,-42%);
        filter:brightness(100%);
    }
    29%{
        transform:translate(45%,-40%);
    } 
    30%{
        transform:translate(45%,-40%);
        opacity:1;
    } 
    35%{
        transform:translate(70%,-60%);
        opacity:0;
    }  
    37%{
        transform:translate(-30%,25%);
        opacity:0;
    }  
    40%{
        transform:translate(0,0);
        opacity:1;
    }
    100%{
        transform:translate(0,0);
    }
}
/*/animations*/


/* breakpoint cheat sheet:
breakpoint-xxl: 1519px;
breakpoint-xl: 1199px;
breakpoint-l: 991px;
breakpoint-m: 767px;
breakpoint-s: 575px;
*/

/*class media queries*/
@media screen and (max-width:1519px){
 
    .runners-ins--container-width{
        width:var(--runners-ins--container-width-xl)!important;
    }
 
    .runners-ins--container-width2{
        width:var(--runners-ins--container-width2-xl)!important;
    }
 
    .runners-ins--container-width3{
        width:var(--runners-ins--container-width3-xl)!important;
    }
 
    .runners-ins--container-width4{
        width:var(--runners-ins--container-width4-xl)!important;
    }

}

@media screen and (max-width:1199px){
 
    .runners-ins--container-width{
        width:var(--runners-ins--container-width-l)!important;
    }
 
    .runners-ins--container-width2{
        width:var(--runners-ins--container-width2-l)!important;
    }
 
    .runners-ins--container-width3{
        width:var(--runners-ins--container-width3-l)!important;
    }
 
    .runners-ins--container-width4{
        width:var(--runners-ins--container-width4-l)!important;
    }

}

@media screen and (max-width:991px){
 
    .runners-ins--container-width{
        width:var(--runners-ins--container-width-m)!important;
    }
 
    .runners-ins--container-width2{
        width:var(--runners-ins--container-width2-m)!important;
    }
 
    .runners-ins--container-width3{
        width:var(--runners-ins--container-width3-m)!important;
    }
 
    .runners-ins--container-width4{
        width:var(--runners-ins--container-width4-m)!important;
    }

}

@media screen and (max-width:767px){
 
    .runners-ins--container-width{
        width:var(--runners-ins--container-width-s)!important;
    }
 
    .runners-ins--container-width2{
        width:var(--runners-ins--container-width2-s)!important;
    }
 
    .runners-ins--container-width3{
        width:var(--runners-ins--container-width3-s)!important;
    }
 
    .runners-ins--container-width4{
        width:var(--runners-ins--container-width4-s)!important;
    }

}

@media screen and (max-width:575px){
 
    .runners-ins--container-width{
        width:var(--runners-ins--container-width-xs)!important;
    }
 
    .runners-ins--container-width2{
        width:var(--runners-ins--container-width2-xs)!important;
    }
 
    .runners-ins--container-width3{
        width:var(--runners-ins--container-width3-xs)!important;
    }
 
    .runners-ins--container-width4{
        width:var(--runners-ins--container-width4-xs)!important;
    }

}
/*/class media queries*/

/*responsive menu*/

.mobile {
    display: none !important;
}

@media screen and (max-width:991px){
    #runners-ins--wrapper .runners-ins--menu {
        top: 0;
        padding-top: 1em;
    }
    .desk {
        display: none !important;
    }
    .mobile {
        display: block  !important;
        width: 100%;
        background-color: var(--runners-ins--color-grayscale-0);
    }

    .runners-ins--menu {
        background: unset !important;
    }
}

/*/responsive menu*/

.swal2-confirm {
    display: block;
    margin: 0;
    width: 100%;
    border: none;
    font-family: "Adihaus DIN", Arial !important;
    font-weight: bold;
    background: #000 !important;
    color: #fff !important;
    text-transform: uppercase;
    padding: 4px 10px 0;
    font-size: 23px;
    height: 46px;
    line-height: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0  !important;
    border: unset !important;
}


.menu {
    background: #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 25px;
    z-index: 10;
}

.hamburguer {
    position: relative;
    display: block;
    background: var(--runners-ins--color-main-2);
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: var(--runners-ins--color-main-2);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.list-menu-mobile {
    display: none;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidebar a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidebar a:hover {
color: #f1f1f1;
}

.sidebar .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #111;
color: white;
padding: 10px 15px;
border: none;
}

.openbtn:hover {
background-color: #444;
}

#main {
transition: margin-left .5s;
padding: 16px;
}

@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}

#significa {
    cursor: pointer;
}
.content-box {
    font-size: 16px !important;
}

.hidden {
    display: none !important;
}

.content-premiacao {
    text-align: left;
    padding: 33px !important;
}

.content-dupla {
    text-align: right;
}

.btn-close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}

.type {
    cursor: pointer;
}

@media screen and (max-width:767px){
    .type {
        margin-top: 34px !important;
    }

    .content-individual {
        padding-top: 0px !important;
        margin-top: 30px !important;
    }

    .content-dupla {
        text-align: left;
        margin-top: 30px !important;
    }
}